
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  font-family: Arial, Helvetica, sans-serif;
  --color1:#f0eeee;
  --color2:#031a6e;
  --color3:rgb(228, 126, 1);
}
.navbar{
  width: 100%;
  background-color: var(--color1);
  text-align: left;
  display: flex;
  justify-content: space-between;
 position: relative;
 z-index: 4;
}
.navbar::after{
  content: "";
  left: 0;
  right: 0;
bottom:0;
position: absolute;
width: 100%;
height: 6px;
background-color: var(--color3);
}
.navbar div{
  display: inline-block;
  
}
.navbar .logo{
  width: 150px;
  height: 100px;
margin-top: 5px;

}
.logo img{
  width: 100%;
  height: 120%;
  margin-left: 10px;
}
.headitems{
  display: flex;
}
.headitems .item{
  padding-left: 30px;
  margin-right: 20px;
}


.menu {
  padding: 45px;
  display: flex;
  position: relative;
}
.menu ul{
  list-style: none;
}
.menu ul li{
  display: inline-block;
  margin-left: 25px;
}
.menu ul li{
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
font-weight:bold;
color: var(--color3);
position: relative;
transition: 0.15 ease-in-out;
}
.menu ul li:hover{
  color: var(--color2);
}
.menu ul li::after{
  content: "";
  left: 0;
  right: 0;
  bottom: -5px;
  position: absolute;
  height: 4px;
  width: 0;
  background-color: var(--color2);
  transition: 0.15s ease-in-out;
  margin-top: 5px;
}
.menu ul li:hover:after{width:100%;}
.navbar #check{
 display: none;
}
.navbar h2{
padding: 35px;
color: var(--color2);
text-transform: uppercase;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.open-menu,.close-menu{
  position: absolute;
  color:var(--color3);
  cursor: pointer;
  font-size: 1.3rem;
  display: none;
  }
  .open-menu{
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}
.close-menu{
  top: 20px;
  right: 20px;
}
.Home{
  width: 100%;
  height: 600px;
  display: flex;
  flex-wrap: wrap;
  position: relative;
}
.Home h1{
  animation: oppa 5s;
}
.Home h1{
  color: #fff;
  text-align: center;
  width: 100%;
  margin-top: 10%;
  font-size: 70px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.Home::before{
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: url('img/personne-travaillant-dans-batiment-construction.jpg');
  background-size:cover ;
  background-repeat:no-repeat ;
  z-index: -2;
}
@keyframes flch{
  0%{
    margin-top: 0;
  }
  50%{
    margin-top: 80px;
  }
  100%{
    margin-top: 0;
  }
 
}
.flech{
    animation: flch 2s ease-in-out infinite;
    cursor: pointer;
}
.what{
  position: fixed;
  left: 93%;
  top: 82%;
  font-size: 36px;
  background-color: var(--color1);
 z-index: 2;
  padding: 10px 15px;
  border-radius: 50px;
  color: var(--color2);  
  cursor: pointer;
  transition: 0.15s ease-in-out;
}
.what:hover{
  color:white;
background-color: green;

}
.Home::after{
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
z-index: -1;
background-color: #031a6e6f;
}
.Apropos{
  background-color: var(--color1);
  display: flex;
  flex-wrap: wrap;
  padding-top:25px ;
 padding-bottom: 45px;

}
.Apropos .Titre{
  color: var(--color2);
  font-size: 50px;
  text-align: center;
  position: relative;
  margin-left: 42%;
  margin-top: 10px;
}
.Titre::after{
content: "";
right: 0;
left: 0;
top: 70px;
position: absolute;
width: 100%;
height: 10px;
background-color: var(--color3);
}
.Apropos .prp{
  margin-top: 35px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
line-height: 2;
justify-content: center;
word-spacing: 2px;
}

.prp ul{
  list-style: disc;
  
  width: 25%;
  margin-left: 40%;
}
.Gallery .Titre{
  color: var(--color1);
  font-size: 50px;

  text-align: center;
  position: relative;
  margin-left: 42%;
}
.Gallery .Titre::after{
content: "";
right: 0;
left: 0;
top: 70px;
position: absolute;
width: 100%;
height: 10px;
background-color: var(--color2);
}
.Gallery{
  background-color: var(--color3);
  display: flex;
  flex-wrap: wrap;
  padding-top:25px ;
padding-bottom: 25px;
}
.Gallery .imgs-container{
  width: 80%;
  height: 500px;

  margin-top: 40px;
  margin-left: 120px;
  z-index: 0;
}
@keyframes oppa{
  0%{
    opacity: 0;
  }
  100%{
    opacity:1;
  }
}
.imgs-container .cntr{
  height: 100%;
}
.imgs-container .left,.imgs-container .right{
  display: inline-block;
  transition: 0.15s ease-in-out;

  width: 50px;
}

.imgs-container .left:hover,.imgs-container .right:hover{
background-color: #031a6e77;
}
.imgs-container .right{
  color: var(--color1);
  height: 100%;
  float: right;
}
.imgs-container .left{
  color: var(--color1);
 float: left;
  height: 100%;
}
.left i,.right i{
  margin-top: 240px;
  font-weight: bold;
  font-size: 25px;

}
.Titre{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
@keyframes leftout{
  0%{
   left: 0;
   
  }
  100%{
    left:100% ;
    
  }
}
@keyframes rightout{
  0%{
   right: 0;
  
  }
  100%{
    right: 100%;
    
  }
}
@keyframes leftin{
  0%{
   left: 100%;
   
  }
  100%{
    left: 0;
    
  }
}
@keyframes rightin{
  0%{
   right: 100%;
  
  }
  100%{
    right: 0;
    
  }
}
.imgs-container .imge{
  position: relative;
  width: 100%;
  height: 100%;
  z-index: -1;

}
.imge .tite{
  position: relative;
  top: 70%;
 background-color: #031a6ea6;
  height: 150px;
  color: var(--color1);
  padding-top: 20px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 50px;
}
.invisible{
display: none;
transition: 0.15 ease-in-out;
}

.imge img{
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;

}
.Contact{
  background-color: var(--color2);
  width:100%;
  display: flex;
  flex-wrap: wrap;
  
  padding-top: 30px;
}
.Contact .Titre{
  margin-left: 43%;
  font-size: 50px;
  color: var(--color1);
  position: relative;
z-index: 0;
}
.Contact .Titre::after{
  content: "";
  right: 0;
  left: 0;
  top: 70px;
  position: absolute;
  width: 100%;
  height: 10px;
  background-color: var(--color3);

  }
  .Contact .cnt{
    width: 50%;
    
    position: relative;
    padding: 10px 10px;
    padding-bottom: 20px;
    
  }
  .cnt .item-form{
    display: block;
    margin-left: 10px;
    margin-top: 20px;
  }
  .cnt textarea{
    width: 300px;
    height: 100px;
    resize: none;
    overflow: auto;
  }
  .cnt input{
    width:300px;
height: 40px;
  }
  .cnt button{
    padding: 10px 15px;
    margin-top: 15px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
    font-size: 15px;
    background-color: transparent;
    color: var(--color1);
    border: 2px solid var(--color1);
    font-weight: bold;
    cursor: pointer;
    transition: 0.15s ease-in-out;
  }
  .cnt button:hover{
background-color: var(--color1);
color: var(--color2);
  }
  .cnt .contactez{
    font-size: 37px;
    text-align: center;
    color: var(--color3);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  .cnt .contect{
    margin-top: 30px;
    color: var(--color3);
  }
  .cnt .contect .items{
    margin-top: 15px;
  }

  .sm {
    border: 1px solid var(--color3);
    padding: 8px 10px;
    width: 50px;
    font-size: 30px;
    margin-left: 60px;
    border-radius: 50px;
    display: inline-block;
    transition: 0.15s ease-in-out;
  }
.sm:hover{
  background-color: var(--color1);
}
.sm:hover i{
  color: #133bc9;
}
  .sm i{
    color: var(--color3);
    transition: 0.15s ease-in-out;
  }


  .cnt .contect .items{
    margin-top: 26px;
  

  }
.contect .media{

  width: 60%;
  margin-left:100px ;
}
 @media (max-width:950px) {
  .navbar h2 {
    display: none;
  }
  .Contact .cnt{
  
    padding-bottom: 20px;
    margin-top: 15px;
    margin-left: 500px;
  }


  .cnt button{
    margin-left: 80px;
  }
  .cnt .contactez{
    margin-top: 25px;
        font-size: 30px;
        margin-left: 10px;
      }
   
    .Contact .cnt{
      margin-left: 200px;
    }
      .cnt button{
        margin-left: 20px;
      }
.space{
  position: absolute;
  top: 0px;
  left: 0px;
  width: 40%;
background-color: #031a6e54;
  height: 100%;
  transition: 0.15s ease-in-out;
}
.Home::before{
  background-size:130% ;
  height: 100%;
}
.Home{
  height: 320px;

}

.Home h1{
  font-size: 45px;
}

.Gallery .imgs-container{
  margin-left: 90px;
  height: 300px;
}
.left i,.right i{
  margin-top: 140px;
 
}
.imge .tite{
  height: 90px;
}
  .headitems {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60%;
    height: 100vh;
    position: fixed;
    top: 0;
    right: -100%;
    z-index: 100;
    background-color: var(--color2);
    transition: all 0.2s ease-in-out;
  }

  .headitems a li {
    margin-top: 40px;
    padding: 10px;
  }

  .prp ul{
   
    
    width: 60%;
    margin-left: 26%;
  }

  .open-menu,
  .close-menu {
    display: block;
  }

  .navbar .headitems a li:hover {
    color: var(--color1);
  }

  .navbar .headitems a li::after {
    background-color: var(--color1);
  }

.what{
  left:80%;
}
.Apropos .Titre{
  margin-left: 40%;
}
.Gallery .Titre{
  margin-left: 40%;
}  
.Contact .Titre{
  margin-left: 40%;
}
.Gallery .imgs-container .tite{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 30px;
 padding-top: 10px;
}
.cnt .contect .items {
   margin-left: 10px;
    
}
.Contact .cnt{
    
  width: 100%;
}
.cnt .contect{
 
  width: 100%;
}
.contect .cent{
 

  width: 100%;
}
}
@media(max-width:500px){
  .Apropos .Titre{
    margin-left: 30%;
  }
  .Gallery .Titre{
    margin-left: 30%;
  }
  .Contact .Titre{
    margin-left: 30%;
  }
  .Gallery .imgs-container .tite{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
   padding-top: 12px;
  }
  .cnt .contactez{
    margin-top: 25px;
        font-size: 30px;
        margin-left: 50px;
      }
      .Contact .cnt{
        margin-left: -20px;
      }
      .cnt .item-form{
        margin-left: 55px;
      }
      .cnt button{
        margin-left: 65px;
      }
      .Gallery .imgs-container{
        margin-left: 50px;
        height: 300px;
      }
  
   
      
}